html{
    background: #4CA1AF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.container{
    padding:20px;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.title{
    color:224a49b0;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 2em sans-serif;

}
.keys{
    
   display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px 2em;
  color:white;
  column-gap: 10px;
  

}
.display-box{
    padding:10px;
    border:3px solid  white;
    align-items: center;
    height:50px;
    margin-top: 1em;
    color:black;
    margin-left: 450px;
    margin-right: 450px;
    background-color: #c2e59c;

}
.display{
    color:black;
    font-size:25px;
    padding:6px;
}

.numbers, .operations, .numbers_0{
    
    font-size:18px;
   

}
.numbers{
   padding:15px 20px 15px 20px;
   background:linear-gradient(90deg,#64b3f4,#55e7fc);
   
}

.operations{
   padding:15px 20px 15px 20px;
   background:linear-gradient(90deg,#c2e59c,#64b3f4);
   
}
.numbers_0{
    grid-column-start: 1;
    grid-column-end: 3;
   background:linear-gradient(90deg,#64b3f4,#55e7fc)
   

}
.operations:focus{
    background: 	rgb(24 132 169);
}